<div class="container">
  <div class="row mt-5">
    {% for collection in collections %}
        <div class="col-md-3 col-sm-3 mb-5">
          <div class="image">
            {% if collection.image != blank %}
              <a href="{{ collection.url }}">
                <img class="img-fluid" src="{{ collection.image | img_url:'master' }}" alt="Collection {{ collection.title }}">
              </a>
            {% else %}
              <a href="{{ collection.url }}">
                <img src="https://cdn.shopify.com/s/files/1/0533/2089/files/placeholder-images-collection-1_large.png?format=webp&v=1530129113" alt="{{ collection.title }}" />
              </a>
            {% endif %}
          </div>
          <div class="info py-2 px-3 ">
            <a class="text-dark text-decoration-none" href="{{ collection.url }}">{{ collection.title }}
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="width: 20px;">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
              </svg>
            </a>
          </div>
        </div>

    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Collection List",
    "settings": []
  }
{% endschema %}