<style>
    .card-img-top{
        height: 200px !important;
        object-fit: cover !important;
    }
</style>

<div class="container mt-5 mb-5">
	<div class="row">
		<div class="col-md-6">
			<h5 class="text-start">Search Result</h5>
		</div>

		<div class="col-md-6 text-end">
			<a href="{{ shop.secure_url }}" class="text-end">Back To Home</a>
		</div>


		{% if search.performed %}
			{% if search.results.size > 0 %}
				{% for product in search.results %}
					<a href="{{ product.url }}" class="col-md-3 col-sm-6 mt-3 text-decoration-none text-dark">
						<div class="position-relative">
							{% if product.featured_image != blank %}
								<img src="{{ product.featured_image | img_url: 'master' }}" class="img-fluid main" alt="">
							{% else %}
								{{ 'product-1' | placeholder_svg_tag }}
							{% endif %}
							<div class="product-info px-3 mt-3">
								<h5 class="oswald">{{ product.title }}</h5>
								<div class="price_info d-flex justify-content-start gap-3">
									{% if product.compare_at_price_max > product.price %}
										<p class="text-decoration-line-through text-secondary oswald">{{ product.compare_at_price_max | money_with_currency }}</p>
									{% endif %}
									<p class="text-dark oswald">{{ product.price | money_with_currency }}</p>
									{% if product.compare_at_price_max > product.price %}
										<span class="position-absolute left-0 top-0 start-10 translate-middle badge rounded-pill bg-danger">
								        {{ product.compare_at_price_max | minus: product.price | times: 100.0 | divided_by: product.compare_at_price_max | money_without_currency | times: 100 | remove: '.0'}}% off
								  </span>
									{% endif %}
								</div>
							</div>
						</div>
					</a>
				{% endfor %}
			{% else %}
				No Result Found
			{% endif %}
		{% endif %}
	</div>
</div>